.label-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
    transition: background-color 0.5s ease;
}

.label-row:hover {
    cursor: pointer;
}

.regina {
    background-color: rgba(222, 184, 135, 0.5);
}

.regina:hover {
    background-color: rgba(222, 184, 135, 1);
}

.label-attendees {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.label-menu {
    padding-left: 5px;
    display: none;
    background-color: rgba(222, 184, 135, 0.2);
}

.label-menu li {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
}

.showLabelMenu {
    display: flex;
    flex-direction: column;
}

.label-dropdown .pplUp {
    padding-left: 10px;
}